* {
  box-sizing: border-box;
}

html {
  --base-color: rgb(255, 255, 255);
  --asseco-blue: #4599ff;
  --shade-color: #a1749b;
  --success-color: #00ff1e;
  --warning-color: #ff0000;
  --light-background: #7a9279;
  --spacing: 16px;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  margin: 0;
  padding: 0;
  color: var(--asseco-blue);
  font-size: 18px;
  line-height: 1.5rem;
}

[hidden] {
  display: none;
}

a {
  color: var(--asseco-blue);
  text-decoration: none;
}

a:visited,
a:active {
  color: var(--dark-color);
}
a:hover {
  color: var(--asseco-blue);
  text-decoration: underline;
}
a#copy-button {
  text-decoration: none;
}

header,
main,
nav {
  padding: var(--spacing);
}

nav {
  height: 3em;
}

header {
  background: var(--asseco-blue);
  color: var(--base-color);
}
